/* Tablet screen */
@media screen and (max-width: 992px) {
  .container {
    padding-left: 30px;
    padding-right: 30px;
    max-width: 100%;
  }

  .header {
    padding-top: 0;
  }

  .header .container {
    padding-top: 0;
  }

  .header .brand {
    margin-top: 5px;
  }

  .header .header-top {
    background-color: #fff;
    box-shadow: 0 5px 5px rgba(0,0,0,0.1);
    border-bottom: 1px solid rgba(255, 255, 255, 0.1);
    margin-left: -30px;
    margin-right: -30px;
    padding: 0 0 0 30px;
  }

  .header .mainnav {
    background-color: #f0f0f0;
    margin-left: 20px;
    padding: 0 20px;
    height: 66px;
    position: relative;
  }

  .header .mainnav #triipNav {
    background-color: #f0f0f0;
    position: absolute;
    top: 66px;
    right: 0;
    padding: 10px 0;
    width: 300px;
    z-index: 400;
  }

  .header .mainnav #triipNav ul li {
    border-bottom: 1px solid #ddd;
    display: block;
    padding: 0;
  }

  .header .mainnav #triipNav ul li:last-child {
    border-bottom: 0;
  }

  .header .mainnav #triipNav ul li a {
    color: #666;
    display: block;
    font-size: 15px;
    padding: 8px 20px;
  }

  .header .mainnav #triipNav ul li a:hover,
  .header .mainnav #triipNav ul li a:focus,
  .header .mainnav #triipNav ul li a:active {
    background-color: #fff;
    color: #47c2ca;
    text-decoration: none;
  }

  .mainnav .navbar-toggler {
    border-radius: 0;
    padding: 0;
    position: relative;
    height: 32px;
    outline: none;
    width: 32px;
  }

  .mainnav .navbar-toggler .navbar-toggler-icon {
    background-color: #f0f0f0;
    display: block;
    height: 3px;
    width: 100%;
  }

  .mainnav .navbar-toggler.collapsed .navbar-toggler-icon {
    background-color: #999;
  }

  .mainnav .navbar-toggler .navbar-toggler-icon:before,
  .mainnav .navbar-toggler .navbar-toggler-icon:after {
    background-color: #999;
    display: block;
    content: "";
    height: 3px;
    position: absolute;
    left: 0;
    top: 5px;
    width: 100%;
    transition: all 0.25s;
  }

  .mainnav .navbar-toggler .navbar-toggler-icon:after {
    top: auto;
    bottom: 5px;
  }

  .mainnav .navbar-toggler .navbar-toggler-icon:before {
    top: 13px;
    transform: rotate(-45deg);
  }

  .mainnav .navbar-toggler .navbar-toggler-icon:after {
    bottom: 13px;
    transform: rotate(45deg);
  }

  .mainnav .navbar-toggler.collapsed .navbar-toggler-icon:before,
  .mainnav .navbar-toggler.collapsed .navbar-toggler-icon:after {
    transform: rotate(0);
  }

  .mainnav .navbar-toggler.collapsed .navbar-toggler-icon:before {
    top: 5px;
  }

  .mainnav .navbar-toggler.collapsed .navbar-toggler-icon:after {
    bottom: 5px;
  }

  .header .header-top .mainnav {
    float: right;
  }

  .header .language {
    margin-top: 13px;
  }

  .header .action-wrap {
    margin-top: 6px;
  }

  .header .header-content .block-l {
    margin-bottom: 30px;
  }
}

/* Tablet screen */
@media screen and (max-width: 768px) {
  .page-wrap {
    overflow-x: hidden;
  }

  /* HEADER
  ------------------------------------ */
  .header .brand {
    margin-top: 10px;
  }

  .header .brand a {
    background-size: contain;
    height: 50px;
  }

  .header .header-top-r {
    margin-top: 8px;
  }

  .header .action-wrap a {
    padding: 6px 20px;
  }

  .header .header-content .block-l,
  .header .header-content .block-r {
    padding-left: 0;
    padding-right: 0;
  }

  /* SECTION VIDEO
  ------------------------------------- */
  .video-intro {
    padding-left: 0;
    padding-right: 0;
  }

  .statistic {
    font-size: 18px;
  }

  .statistic .number {
    font-size: 24px;
  }

  /* LATEST NEWS
  ------------------------------------- */
  .latest-news .item-feature {
    margin-bottom: 30px;
  }

  /* TRAVELER SECTION
  -------------------------------------- */
  .sec-traveler .section-text {
    font-size: 24px;
    padding-left: 0;
    padding-right: 0;
    line-height: 1.3;
  }


  /* TRAVELER BENNEFIT
  -------------------------------------- */
  .sec-business-benefit::before,
  .sec-traveler-benefit::after {
    background-size: 100%;
    bottom: 30px;
    width: 360px;
  }

  /* COUNTDOWN
  -------------------------------------- */
  .sec-countdown .triip-clock {
    margin-top: 30px;
    text-align: center;
  }

  .sec-countdown .triip-clock .flip-clock-wrapper {
    display: inline-block;
    width: auto;
  }

  /* FOOTER
  -------------------------------------- */
  .sec-footer .copy-right {
    margin-bottom: 30px;
  }

  .sec-footer .triip-logo {
    max-width: 50px;
    display: inline-block;
    margin-right: 20px;
    vertical-align: middle;
  }

  .sec-footer .copy-right p {
    display: inline-block;
    vertical-align: middle;
  }
}


/* Mobile screen */
@media screen and (max-width: 640px) {
  .header .header-top {
    padding-left: 20px;
  }

  .header .brand {
    margin-top: 15px;
  }

  .header .brand a {
    background-image: url(../images/logo-rs.png);
    height: 39px;
    width: 35px;
  }

  .live-transaction ul li .trans-id {
    float: none;
    width: 100%;
  }

  .live-transaction ul li .trans-dest,
  .live-transaction ul li .city {
    width: 50%;
  }

  .live-transaction .btn {
    margin-left: -120px
  }

  .header-content .row {
    margin-left: 0;
    margin-right: 0;
  }

  /* SECTION VIDEO
  ------------------------------------- */
  .video-intro {
    padding-left: 0;
    padding-right: 0;
  }

  .section-video .statistic .col-md-3 {
    margin-bottom: 30px;
  }

  .video-mask,
  .video-mask-intro {
    height: 280px;
  }

  .video-mask .video-ct h2,
  .video-mask-intro .video-ct h2 {
    font-size: 24px;
    padding: 0 20px;
  }

  .video-mask .video-ct,
  .video-mask-intro .video-ct {
    left: 0;
    margin-left: 0;
    margin-top: 50px;
    width: auto;
  }

  .statistic {
    font-size: 24px;
  }

  .statistic .number {
    font-size: 32px;
  }

  .sec-network .main-video {
    min-height: 250px;
  }

  .sec-network .main-video #mainVideo {
    height: 250px !important;
  }

  /* SECTION BENEFIT
  ------------------------------------- */
  .sec-business-benefit .triip-block h3 {
    font-size: 24px;
    text-align: center;
  }

  .sec-traveler-benefit .owl-dots,
  .sec-business-benefit .owl-dots {
    margin-bottom: 50px;
    width: 100%;
  }


  /* SECTION PARTNER
  ------------------------------------- */
  .triip-block img {
    max-width: 100px;
  }

  .sec-partner h3 {
    margin-top: 10px;
  }

  .sec-partner .partner-list li {
    width: 50%;
  }


  /* ROAD MAP
  ------------------------------------- */
  .roadmap-list .item {
    padding-left: 0;
    padding-right: 0;
  }

  .sec-roadmap .item:before {
    left: 0;
  }

  .sec-roadmap .item:after {
    left: 0;
  }

  .roadmap-list .item .item-inner {
    margin-left: 40px;
    margin-right: 0;
    margin-bottom: 15px;
  }

  /* OUR TEAM
  ------------------------------------- */
  .sec-ourteam .triip-member {
    margin-bottom: 20px;
  }

  .sec-press .owl-nav button.owl-prev {
    left: -10px;
  }

  .sec-press .owl-nav button.owl-next {
    right: -10px;
  }

  .sec-ourteam .intro {
    opacity: 1;
    height: auto;
  }

  .sec-ourteam .triip-member:hover {
    border: 1px solid #eee;
    box-shadow: 0 0 3px rgba(0,0,0,0.1);
    margin-bottom: 20px;
  }

  .sec-ourteam .triip-member:hover .intro {
    display: block;
    height: auto;
    opacity: 1;
  }


  /* COUNTDOWN SECTION
  ------------------------------------- */
  .sec-countdown #mc-embedded-subscribe-form {
    background: none;
    padding-left: 0;
  }

  .sec-countdown h3 {
    display: block;
    text-align: center;
    width: 100%;
  }

  .latest-news .item-list {
    margin-left: -15px;
    margin-right: -15px;
  }

  .latest-news .item-feature .item-image {
    margin-right: 0;
  }

  .latest-news .item-feature .item-image img {
    width: 100%;
  }
}


/* Mobile screen */
@media screen and (max-width: 360px) {
  .header .mainnav {
    margin-left: 10px;
    padding-left: 10px;
    padding-right: 10px;
  }

  .header .language {
    margin-right: 10px;
  }

  .header .action-wrap a {
    font-size: 14px;
    padding: 5px 15px 3px;
  }

  div.flip-clock-wrapper ul {
    border-radius: 3px;
    padding: 0;
    height: 40px;
    line-height: 40px;
    width: 28px;
  }

  div.flip-clock-wrapper ul li {
    line-height: 40px;
  }

  span.flip-clock-divider .flip-clock-label {
    right: -55px;
  }

  span.flip-clock-divider.minutes .flip-clock-label,
  span.flip-clock-divider.seconds .flip-clock-label {
    right: -65px;
  }

  div.flip-clock-wrapper ul li a div div.inn {
    font-size: 16px;
  }
}